[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "githubpages/themes/paper"]
	path = githubpages/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
